@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@100;200;300;400;500;600;700&display=swap");
* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        font-family: "Tomorrow", sans-serif;
}

.scroller__inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="up"] {
        --_animation-direction: reverse;
}

.scroller[data-direction="down"] {
        --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
        --_animation-duration: 18s;
}

.scroller[data-speed="slow"] {
        --_animation-duration: 60s;
}
@keyframes scroll {
        to {
                transform: translateY(calc(-50% - 0.5rem));
        }
}

/* scroller on small screens */

.scroller__inner__small {
        display: flex;
        gap: 1rem;
        width: max-content;
        flex-wrap: nowrap;
        animation: scrollLeft var(--_animation-duration, 13s) var(--_animation-direction, forwards) linear infinite;
}
.scroller__small[data-direction="right"] {
        --_animation-direction: normal;
}
.scroller__small[data-direction="left"] {
        --_animation-direction: reverse;
}
@keyframes scrollLeft {
        to {
                transform: translateX(calc(-50% + 0.5rem));
        }
}
.active {
        border: 1px solid #06e68d;
        color: #06e68d;
        padding: 5px 10px 13px 10px;
}
#giftbox img.illuminate {
        fill: #06e68d;
}

::-webkit-scrollbar {
        width: 5px;
}

::-webkit-scrollbar-track {
        border: none;
        background-color: transparent;
}

::-webkit-scrollbar-thumb {
        background: #00ba70;
        height: 1rem;
}

.hideScroller::-webkit-scrollbar {
        width: 0;
        height: 0;
}

.hideScroller::-webkit-scrollbar-thumb {
        background-color: transparent;
}
