@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@100;200;300;400&display=swap");
* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        font-family: "Tomorrow", sans-serif;
}

::-webkit-scrollbar {
        width: 5px;
}

::-webkit-scrollbar-track {
        border: none;
        background-color: transparent;
}

::-webkit-scrollbar-thumb {
        background: #00ba70;
        height: 1rem;
}
